[submodule "distributed_systems_compatible"]
	path = distributed_systems_compatible
	url = https://github.com/TrifonisAth/distributed_systems_compatible
[submodule "aueb_cinema"]
	path = aueb_cinema
	url = https://github.com/TrifonisAth/aueb_cinema
[submodule "Cpp_Aueb_Cinema"]
	path = Cpp_Aueb_Cinema
	url = https://github.com/TrifonisAth/aueb_cinema
